<p>Info about Limitless:</p>
<ul>

  <li> TITLE : Limitless </li>

  <li> YEAR : 2011 </li>

  <li> RATED : PG-13 </li>

  <li> RELEASED : 18 Mar 2011 </li>

  <li> RUNTIME : 105 min </li>

  <li> GENRE : Mystery, Sci-Fi, Thriller </li>

  <li> DIRECTOR : Neil Burger </li>

  <li> WRITER : Leslie Dixon (screenplay), Alan Glynn (novel) </li>

  <li> ACTORS : Bradley Cooper, Robert De Niro, Abbie Cornish, Andrew Howard </li>

  <li> PLOT : With the help of a mysterious pill that enables the user to access 100 percent of his brain abilities, a struggling writer becomes a financial wizard, but it also puts him in a new world with lots of dangers. </li>

  <li> LANGUAGE : English, Russian, Italian, Mandarin, French </li>

  <li> COUNTRY : USA </li>

  <li> AWARDS : 2 wins & 7 nominations. </li>

  <li> POSTER : http://ia.media-imdb.com/images/M/MV5BMTY3NjczNzc5Nl5BMl5BanBnXkFtZTcwMzA2MzQyNA@@._V1_SX300.jpg </li>

  <li> METASCORE : 59 </li>

  <li> IMDBRATING : 7.4 </li>

  <li> IMDBVOTES : 399,328 </li>

  <li> IMDBID : tt1219289 </li>

  <li> TYPE : movie </li>

  <li> RESPONSE : True </li>

</ul>