<p>Name: <%= @current_user.name %></p>
<p>Favorite Movie: <%= @current_user.favorite_movie %></p>
<p>Favorite Genre: <%= @current_user.get_fav_genre %></p>
<p>Movie Count: <%= @current_user.movies.size %></p>